<div class="container">

<div class="row">
<div class="col-md-6">
  

  <div>nombre del articulo</div><input type="submit" class="btn" value={{nombreArticulo}}>
  
  
  <div>ingresa la cantidad</div><input type="text" class="txt" name="item" placeholder="ingresa el precio" [(ngModel)]="cantidad">
  
  <div>ingresa el precio</div><input type="text" class="txt" name="item" placeholder="ingresa el precio" [(ngModel)]="precio">
  
</div>
<div class="col-md-6 este">
  <p>este es tu ticket</p>

  <!-- To: -->
  <p>tu total es {{ cantidad * precio}}</p>

  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">subTotal</th>
        
      </tr>
    </thead>
    <tbody>
        <th scope="row">tu ticket es</th>
        <td>{{precio}}</td>
        <td>{{cantidad}}</td>
        <td>{{precio * cantidad}}</td>
      </tbody>
   
  
  </table>
</div>

</div>

</div>